:root {
  --main-color: #4d5ae5;
  --black-color: black;
  --white-color: white;
  --btn-bg-color: #f4f4fd;
  --footer-color: #e7e9fc;
  --navy-color: #2e2f42;
  --main-title-color: #ffffff;
  --slate-color: #434455;
}

body {
  font-family: "roboto", "sans-serif";
  color: var(--main-color);
}

.container {
  max-width: 1158px;
  margin: 0 auto;
  padding: 0px 15px;
  /* kontrol ot yaroslava kosytsi!potom udal */
  outline: 2px solid red;
  outline-offset: -2px;
}

.feature-hidden {
  display: none;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

/*  HEADER section*/

header {
  border-bottom: 1px solid var(--footer-color);
}

.nav-header {
  align-items: center;
  display: flex;
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid var(--footer-color);
}
/*  спросить у ментора  */

.logo {
  font-family: "Raleway", "sans-serif";
  font-weight: 800;
  font-size: 18px;
  line-height: 1.3;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-color);
  text-decoration: none;
}

.logo-header {
  color: var(--black-color);
  font-size: 18px;
  line-height: 1.3;
  font-weight: 800;
  letter-spacing: 0.03em;
}

.socials-list {
  display: flex;
  margin-left: auto;
  align-items: center;
  font-style: normal;
  list-style-type: none;
  gap: 40px;
}

.nav-list {
  margin-left: auto;
  list-style-type: none;
  align-items: center;
  display: flex;
  gap: 40px;
}

/* PORTFOLIO section*/

.portfolio-section {
  padding-top: 96px;
  padding-bottom: 120px;
}

.portfolist {
  background: var(--main-title-color);
  margin-bottom: 48px;
}

.portfolist:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.portfolio-card {
  padding: 0px 16px;
  gap: 8px;
  border: 1px solid var(--footer-color);
}

.portfolio {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.portfolio-list {
  display: flex;
  justify-content: center;
  margin-bottom: 72px;

  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;
}

.portfolio-title {
  color: var(--black-color);
}

.main-section {
  background-color: var(--navy-color);
  display: flex;
  justify-content: center;
  padding: 188px 0;
}

.main-section-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-title {
  font-size: 56px;
  line-height: 1.07;
  color: var(--main-title-color);
  font-weight: 600;
  width: 496px;
  text-align: center;
  margin-bottom: 48px;
}

.list {
  list-style-type: none;
}

.link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--black-color);
}

.link:hover,
.link:focus {
  color: var(--main-color);
}

/* BUTTON section*/

.button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.04em;
  color: var(--main-title-color);
  background-color: var(--main-color);
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
}

.btn-list {
  background: var(--btn-bg-color);
  border: 1px solid var(--footer-color);
  border-radius: 4px;
}

.service-button {
  width: 169px;
  height: 56px;
}

.filter-button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.04em;
  color: var(--main-color);
  background-color: var(--btn-bg-color);
  cursor: pointer;

  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
}

.filter-button:hover,
.filter-button:focus {
  color: var(--btn-bg-color);
  background-color: var(--main-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* BENEFITS-section */
.benefits-section {
  padding: 120px 0;
}

.benefits-title {
  font-size: 20px;
  line-height: 1.2;
  color: var(--navy-color);
  font-weight: 600;
}

.benefits-description {
  font-size: 16px;
  line-height: 1.5;
  color: var(--slate-color);
}

.benefits-list-item {
  width: 264px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 8px;
}

.benefits-list {
  display: flex;
  gap: 24px;
}

/* TITTLE-section */

.section-title {
  font-size: 36px;
  line-height: 1.1;
  color: var(--navy-color);
  font-weight: 600;
  margin-bottom: 72px;
}

.name-team-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  color: var(--navy-color);
  font-weight: 600;
}

/* What are we doing */
.our-work-section {
  padding-bottom: 120px;
}

.our-works {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.works-list {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

/* TEAM-section */
.team-section {
  background-color: var(--btn-bg-color);
  padding-top: 120px;
  padding-bottom: 120px;
}

.team-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.team-list {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

.team-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 0px 32px;
  gap: 32px;
  background: var(--main-title-color);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

.team-text-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 8px;
}

.image-description {
  font-size: 16px;
  line-height: 1.5;
  color: var(--slate-color);
  font-weight: 400;
}

.image-title {
  margin-bottom: 8px;
  font-size: 20px;
  line-height: 1.2;
  color: var(--navy-color);
  font-weight: 600;
}

.team-description {
  color: var(--slate-color);
}

.current {
  color: var(--main-color);
}

.text-spacing {
  letter-spacing: 0.02em;
}
/* FOOTER-section */

footer {
  background-color: var(--navy-color);
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer-logo {
  color: var(--white-color);
  font-size: 18px;
  line-height: 1.16;
  font-weight: 800;
}

.text-footer {
  width: 264px;
  font-size: 16px;
  line-height: 1.2;
  color: var(--footer-color);
}

.bottom-logo {
  margin-bottom: 16px;
}
